img {
    height: 250px;
    width: 250px;
    border: solid 2pt black;
    margin-left: 10px;
}

.one-third {
    display: inline-block;
    padding: 10px;
}

.grid {
    margin: auto;
    width: fit-content;
    padding: 10px;

}

ul {
    margin: auto;
    width: fit-content;
    line-height: 1em;
}

#busmall {
    position: fixed;
    color: white;
    background-color: #2F7CBF;
    padding: 10px;
    top: 345px;
    right: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 105px;
}

#counter {
    position: fixed;
    color: white;
    background-color: #2F7CBF;
    padding: 5px;
    padding-left: 10px;
    padding-bottom: 0px;
    top: 315px;
    right: 0px;
    border-top-left-radius: 5px;
    width: 110px;
    text-align: right;
}

#chartdiv {
    width: 700px;
    height: 500px;
}